.demo-section {
    background-image: url(../uploads/solution/demo-bg-top.svg);
    background-size: 40% 90%;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.plenty-tab-ul {
    border: 0px !important;
}

.plenty-tab-ul li {
    width: 50%;
    margin-bottom: 1.5rem;
}

.plenty-tab-ul li a {
    border: 0px !important;
    color: white;
    width: 90%;
}

.plenty-tab-ul li a:hover {
    background-color: white;
    color: #000000;
    border-radius: 15px !important;
}

.plenty-tab-ul li a.active {
    border-radius: 15px !important;
}

.blueprint-card-right {
    position: absolute;
    width: 35%;
    right: -4rem;
    margin: auto;
    top: 2rem;
    z-index: 5;
}

.blueprint-card-bottom {
    box-shadow: 0 0 30px rgb(0 0 0 / 10%) !important;
    position: absolute;
    width: 70%;
    left: -2%;
    margin: auto;
    bottom: -10%;
    z-index: 2;
}